extends layout

block content
    h1 Manage your reservation
    input(id="Delete_code" placeholder="Enter your code in order to delete.")
    input(id="Delete" type="Submit")
    a(href="/") Go back to home page
    script(src="manage.js")